body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

li:hover{
  background:orange;
}
li>a:hover{
  text-decoration: none;
}
ul li ul li{
  border: 1px solid black;
}
.btn{
  background-color: #E09F3E;

a:hover {
  color: #e09f3a;
}

button,
.btn {
  background-color: #e09f3e;
  margin-left: 2px;
}

.navbar {
  background-color: #af3860;
  color: #50514f;
}

.navbar-brand {
  text-transform: uppercase;
  font-family:
    "Charm",
    sans-serif !important;
  font-weight: bold;
  text-shadow: peachpuff;
  color: peachpuff;
}

.dropdown-menu{
  text-align: center;
  background:#E09F3E ;
  color:black;

}
ul li ul li a{
  color:black;

}
