body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

<<<<<<< HEAD

#root{
  position: relative;
}
.icon{
=======
.icon {
>>>>>>> dc3c8675b6ef21dc185a62ee1e9778cf29ecc809
  background: url("astronaut.ico") no-repeat center fixed;
}

ul li ul li {
  border: 1px solid black;
}

li:hover {
  background: orange;
}

ul li ul li a {
  color: black;
}

a:hover {
  color: #e09f3a;
}

li > a:hover {
  text-decoration: none;
}

button,
.btn {
  background-color: #e09f3e;
  margin-left: 5px;
}

.navbar {
  background-color: #af3860;
  color: #50514f;
}

.navbar-brand {
  text-transform: uppercase;
  font-family:
    "Charm",
    sans-serif !important;
  font-weight: bold;
  text-shadow: peachpuff;
  color: peachpuff;
}

.dropdown-menu {
  text-align: center;
  background: #e09f3e;
  color: black;
}

<<<<<<< HEAD
#visualizebtn{
  margin-right:5px;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#info{
  background: #f7d6e0;
  border-radius: 50%;
  position:fixed;
  right:0px;
  bottom:0px;
  box-shadow:#f7d6e0;
=======
#visualizebtn {
  margin-right: 5px;
}
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  opacity: 80%;
}
.modal.right .modal-dialog {
  position: fixed;
  right:0px;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
/*Right*/
.modal.right.fade .modal-dialog {
  /*right:-320px; */
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
>>>>>>> dc3c8675b6ef21dc185a62ee1e9778cf29ecc809
}
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  opacity: 80%;
}
.modal.right .modal-dialog {
  position: fixed;
  right:0px;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
/*Right*/
.modal.right.fade .modal-dialog {
   /*right:-320px; */
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}