body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./media/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root {
  position: relative;
}

#home {
  position: fixed;
  width: 100%;
  height: 540px;
}

#Legend {
  font-family: 'Lucida Console', Courier, monospace;
  font-weight: bold;
}

ul li ul li {
  padding: 0;
  border-bottom: 1px solid #540b0e;
  margin: 0;
}

ul li ul li a {
  color: black;
}

a:hover {
  color: #e09f3a;
}

li > ul > li:hover {
  text-decoration: none;
  background-color: greenyellow;
}

button,
.btn {
  background-color: #e09f3e;
  margin-left: 5px;
}

button:hover {
  box-shadow: 0 10px 15px -2px rgba(15, 15, 15, 0.25);
}

.navbar {
  background-color: #af3860;
  color: #50514f;
}

.navbar-brand {
  text-transform: uppercase;
  font-family:
    'Charm',
    sans-serif !important;
  font-weight: bold;
  text-shadow: peachpuff;
  color: peachpuff;
}

#navigation > button {
  font-weight: bolder;
}

.dropdown-menu {
  text-align: center;
  background: #e09f3e;
  color: black;
}

#AlgosList > ul > li > button {
  width: 100%;
  color: black;
  display: block;
  margin: 0;
  border: 2px darkred solid;
  border-radius: 1px;
}

#AlgosList > ul > li > button[disabled] {
  background: #b7b7a4;
}

#AlgosList > ul > li > button[disabled]:hover {
  background: #b7b7a4;
}

#AlgosList > ul > li > button:hover {
  background-color: greenyellow;
}

#visualizebtn {
  margin-right: 5px;
}

#info {
  background: #f7d6e0;
  border-radius: 35%;
  position: fixed;
  right: 0;
  bottom: 0;
  box-shadow: #f7d6e0;
}

#tutorial {
  background: #f7d6e0;
  border-radius: 35%;
  position: fixed;
  left: 0;
  bottom: 0;
  box-shadow: #f7d6e0;
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  
}

.modal.left .modal-dialog {
  position: fixed;
  left: 0;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-dialog {
  position: fixed;
  right: 0;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right.fade .modal-dialog {
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.left .modal-content {
  height: 100%;
  overflow-y: auto;

}

.modal.left.fade .modal-dialog {
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
